@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 46px;
    text-align: center;
}

img {
    width: 700px;
    height: 400px;
    margin-left: 28%;
}

h3 {
    font-size: 26px;
    text-align: center;
    margin-bottom: -3px;
    padding-bottom: 3px;
}

footer {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 28%;
}

footer h4, a {
    margin-bottom: -20px;
}

