@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #28102d;
}

.container {
    width: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card span {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    opacity: 0.95;
    background: #b18640;
    z-index: 1;
    transition: widht 0.5s, height 0.5s;
    transform: translate(-50%,-50%);
}

.container .card:hover span {
    width: 1000px;
    height: 1000px;
}

.container .card {
    position: relative;
    width: 320px;
    min-height: 420px;
    margin: 15px;
    overflow: hidden;
}

.container .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container .card .content div {
    padding: 40px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    transform: translateY(50px);
}

.container .card:hover .content div {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}